
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>

    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="refresh" content="1">*@

    <link href="~/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/fontawesome_all.css" rel="stylesheet" />
    <link href="~/styles/Custom/style.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <a href="#">Clupa Store</a>
        <p>Best Glass Store</p>
    </div>

    <span class="fa fa-bars menu-btn" onclick="openNav()"></span>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">
            <span class="fa fa-store"></span>
            <span class="title">فروشگاه</span>
        </a>
        <a href="#">
            <span class="fa fa-headset"></span>
            <span class="title">پشتیبانی</span>
        </a>
    </div>

    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <script>
    function toggleNav() {

    }
        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>
